.gallery-contairner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.gallery-contairner img {
  width: 100%;
  height: 300px; /* adjust the height as needed */
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery-contairner img.active {
  border: 2px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gallery-item {
  margin: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}